<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Welcome to BalmJS</title>
  <!--
    manifest.json provides metadata used when your web app is added to the
    homescreen on Android. See https://developers.google.com/web/fundamentals/engage-and-retain/web-app-manifest/
  -->
  <link rel="manifest" href="manifest.json">
  <link rel="shortcut icon" href="favicon.ico">
  <link rel="stylesheet" href="css/main.css">
</head>

<body>
  <div class="container">
    <div class="content">
      <div class="logo">
        <span>Hello</span>
        <img src="images/logo.svg" alt="BalmJS">
        <a href="//balmjs.com/">BalmJS</a>
      </div>
    </div>
  </div>
  <script src="js/main.js"></script>
  <script src="js/sw.js"></script>
</body>

</html>
