html,
body {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  display: table;
  font-weight: 100;
}

a {
  cursor: pointer;
}

.container {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.content {
  text-align: center;
  display: inline-block;
}

.logo {
  font-size: 96px;
  & a,
  & img,
  & span {
    vertical-align: middle;
  }
  & img {
    width: 100px;
    height: 100px;
  }
}
